<td-layout-nav logo="assets:covalent" navigationRoute="/">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>ODOS Reservation Portal</span>
    <span flex></span>
  </div>
  <td-layout-manage-list
                        [opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item [routerLink]="['/users']">
        Manage User Accounts
      </a>
      <a mat-list-item [routerLink]="['/rooms']">
        Manage Conference Rooms
      </a>
      <a mat-list-item [routerLink]="['/reservations']">
        Make a Reservation
      </a>
      <a mat-list-item [routerLink]="['/report']">
        Reporting
      </a>
    </mat-nav-list>
    <div>
      <p style="padding-left: 20px; font-size: 20px;">Account Management</p>
      <p style="padding-left: 20px; ">Set user roles and add, edit or delete accounts.</p>
    </div>
    <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="filterUsers($event)"></td-search-box>
      <mat-divider></mat-divider>
      <ng-template tdLoading="users.list">
        <mat-list class="will-load">
          <div class="pad" *ngIf="filteredUsers?.length === 0" layout="row" layout-align="center center">
            <h3>No users to display.</h3>
          </div>
          <ng-template let-room let-last="last" ngFor [ngForOf]="rooms">
            <mat-list-item>
              <mat-icon matListAvatar>person</mat-icon>
              <h3 matLine> {{room.roomName}} </h3>
              
            </mat-list-item>
            <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
          </ng-template>
        </mat-list>
      </ng-template>
    </mat-card>
  </td-layout-manage-list>   
</td-layout-nav>
<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3" [routerLink]="['add']">
  <mat-icon>add</mat-icon>
</a>
